CI_ENVIRONMENT = development

#LOCALHOST
app.baseURL = 'https://fgebc.local/'

database.default.hostname = '127.0.0.1'
database.default.database = 'cdtec'
database.default.username = 'cdtec'
database.default.password = 'cdtec'
database.default.DBDriver = 'MySQLi'

database.development.hostname = '127.0.0.1'
database.development.database = 'cdtec_testing'
database.development.username = 'cdtec_testing'
database.development.password = 'cdtec_testing'
database.development.DBDriver = 'MySQLi'

#SERVER
# app.baseURL = 'https://cdtec.fgebc.gob.mx/'

# database.default.hostname = ''
# database.default.database = 'cdtec'
# database.default.username = ''
# database.default.password = ''
# database.default.DBDriver = 'MySQLi'

# database.development.hostname = ''
# database.development.database = 'cdtec_testing'
# database.development.username = ''
# database.development.password = ''
# database.development.DBDriver = 'MySQLi'
