CI_ENVIRONMENT = development

#LOCALHOST
# app.baseURL = 'https://fgebc.local/'

# database.default.hostname = '127.0.0.1'
# database.default.database = 'CDT_DB'
# database.default.username = 'CDT_DB'
# database.default.password = 'CDT_DB'
# database.default.DBDriver = 'MySQLi'

# database.development.hostname = '127.0.0.1'
# database.development.database = 'CDT_DB_TESTING'
# database.development.username = 'CDT_DB'
# database.development.password = 'CDT_DB'
# database.development.DBDriver = 'MySQLi'

#SERVER
app.baseURL = 'https://cdtec.fgebc.gob.mx/'

database.default.hostname = '172.19.10.36'
database.default.database = 'CDT_DB'
database.default.username = 'fgebc_admin'
database.default.password = 'fgebc_dba0wner'
database.default.DBDriver = 'MySQLi'

database.development.hostname = '172.19.10.36'
database.development.database = 'CDT_DB_TESTING'
database.development.username = 'fgebc_admin'
database.development.password = 'fgebc_dba0wner'
database.development.DBDriver = 'MySQLi'
