:root {
  /*Primarios*/
  --gris1: #e5e4e3;
  --gris1-light: #f4f4f4;
  --gris1-dark: #cdcccb;

  --gris2: #7d7d7d;
  --gris2-light: #919191;
  --gris2-dark: #626262;

  --gris3: #262626;
  --gris3-light: #3a3a3a;
  --gris3-dark: #161616;

  --azul: #092b47;
  --azul-light: #0b3557;
  --azul-dark: #072238;

  /*Secundarios*/
  --tinto: #511229;
  --tinto-light: #601530;
  --tinto-dark: #3e0e20;

  --amarillo: #bf9b55;
  --amarillo-light: #d2ab5e;
  --amarillo-dark: #a18347;

  /*Tipografias*/
  --font: "Montserrat", sans-serif;
}

html,
body {
  /* font-family: var(--font) !important; */
  font-size: 16px;
}

.input-required:after {
  content: "*";
  margin-left: 3px;
  color: red;
  font-weight: bold;
}

/*Backgrounds*/
.bg-primary {
  background-color: var(--tinto) !important;
}

.bg-blue {
  background-color: var(--azul) !important;
}

.bg-yellow {
  background-color: var(--amarillo) !important;
}

.bg-light {
  background-color: var(--gris1) !important;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

/*Fonts colors*/
.btn-primary {
  
}
/*Fonts colors*/

.text-dark {
  color: var(--gris3) !important;
}
.text-blue {
  color: var(--azul) !important;
}
.text-yellow {
  color: var(--amarillo) !important;
}

/*Links*/
.link-yellow {
  color: var(--amarillo);
}
.link-yellow:hover,
.link-yellow:focus {
  color: var(--amarillo);
}
