/*Global*/
.main {
  min-height: calc(100vh - 150px) !important;
}
.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  min-height: 50px;
}
.logo-header {
  max-width: 200px;
}
.asterisco-rojo {
  margin-left: 3px;
  color: red;
  font-weight: bold;
}

/*Login Page*/
.logo-login {
  max-width: 400px;
}

/*Firma electrónica*/
#trazo_firma {
  border: 2px solid #cccccc;
  border-radius: 5px;
  cursor: crosshair;
  background-color: transparent !important;
}

#firma_url {
  width: 100%;
}

.iti {
    display: block!important;
}
/*End firma electrónica*/
