.card-header:not(.content-center) > .c-icon:first-child {
	margin-right: 0.1rem;
	margin-top: 0.1rem;
	vertical-align: top;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 1.2rem;
}

$font-family-sans-serif: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$primary-base: #511229 !default;
$primary: #511229 !default;

.c-sidebar {
    background: $primary!important;
}
.c-sidebar-nav-link{
	&:hover{
		background: #651834!important;
	}
}

.c-header-dark {
    background: $primary!important;
    border-bottom: none!important;
}

.nav-pills .nav-link {
    border-bottom: 1px solid #bfbfbf;
}
