/*Global*/
.main {
  min-height: calc(100vh - 150px) !important;
}
.header {
  height: 100px;
}
.footer {
  height: 50px;
}
.logo-header {
  height: 80px;
}
.asterisco-rojo{
  margin-left: 3px;
  color: red;
  font-weight: bold;
}

/*Login Page*/
.logo-login{
  width: auto;
  max-width: 150px;
}

/*Firma electrónica*/

#draw-canvas {
  border: 2px dotted #CCCCCC;
  border-radius: 5px;
  cursor: crosshair;
}

#draw-dataUrl {
  width: 100%;
}

.contenedor {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}